<div id='posts'>
<% @posts.each do |po| %>
<div class="post"><%= po.body %></div>
<% end %>
</div>
<footer>
<%= form_for( @post, remote: true ) do |f| %>
<%= f.text_field :body %>
<%= f.submit "Send" %>
<% end %>
</footer>
